Gemfile.lock linguist-vendored
Rakefile linguist-vendored
app/assets/*.coffee linguist-vendored
app/assets/*.js linguist-vendored
app/views/*.jbuilder linguist-vendored
app/views/kaminari/*.html.erb linguist-vendored
app/views/layouts/mailer.* linguist-vendored
app/views/misc/_svg_*.html.erb linguist-language=svg
app/views/tokens/_paginate.html.erb linguist-vendored
bin/* linguist-vendored
config.ru linguist-vendored
config/*.rb linguist-vendored
config/environments/*.rb linguist-vendored
config/initializers/*.rb linguist-vendored
db/migrate/*.rb linguist-vendored
db/schema.rb linguist-vendored
public/*.html linguist-vendored
test/*.rb linguist-vendored
