<!--
<nav class="pagination" role="navigation" aria-label="pager">
  <% @poses.each do |pos| %>
    <span class="page">
    <% c = "filter"; c = "filter active" if pos == @pos %>
    <%= link_to(pos, url_for(:pos => pos, :date => @date, :search => @search), :class => c) %>
    </span>
  <% end %>
  <% c = "filter"; c = "filter active" if !@poses.include?(@pos) %>
  <span class="page"><%= link_to("alle", url_for(:date => @date, :search => @search), :class => c) %></span>
</nav>

<nav class="pagination" role="navigation" aria-label="pager">
  <% @dates.each do |date| %>
    <% date = Date.strptime(date, "%Y-%m-%d") -%>
    <span class="page">
    <% c = "filter"; c = "filter active" if date.strftime("%Y-%m-%d") == @date %>
    <%= link_to(date.strftime("%e.%-m."), url_for(:date => date.strftime("%Y-%m-%d"), :pos => @pos, :search => @search), :class => c) %>
    </span>
  <% end %>
  <% c = "filter"; c = "filter active" if !@dates.include?(@date) %>
  <span class="page"><%= link_to("alle", url_for(:pos => @pos, :search => @search), :class => c) %></span>
</nav>
-->
