<table class="token token-vertical">
  <thead>
    <tr>
      <%= render 'thead' %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <%= render 'cells', token: @token %>
    </tr>
  </tbody>
</table>

<br><br><br>.<p id="foo"></p>.

<div class="container center">
  <%= link_to t('back'), tokens_path, id: "back", class: "waves-effect waves-light btn grey darken-2" %>
</div>

<br><br><br>
