<table class="token token-vertical">
  <thead>
    <tr>
      <%= render 'thead' %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <%= render 'cells', token: @token %>
    </tr>
  </tbody>
</table>

<div class="container center">
  <br><br>
  <%= link_to t('back'), tokens_path, class: "waves-effect waves-light btn grey darken-2" %>
</div>
