<div class="print">

<h1>Hiragana</h1>
<%= render 'letters', variant: 'hiragana' %>
<br class="spacer">

<h1>Katakana</h1>
<%= render 'letters', variant: 'katakana' %>
<br class="page-break">

<% @sentences.each do |token| %>
  <%= render 'token', token: token %>
<% end %>

<% @tokens.each do |token| %>
  <%= render 'token', token: token %>
<% end %>

</div>