/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "materialize/components/color-variables";

$primary-color: #252B2B !default;
$link-color: #8A1818 !default;

@import "materialize";

span.kanji,    a.kanji    { color: #0d3481; }
span.hiragana, a.hiragana { color: #8A1818; }
span.katakana, a.katakana { color: #086d3a; }
span.romaji,   a.romaji   { color: #31353D; }
span.german,   a.german   { color: #31353D; }
span.english,  a.english  { color: #31353D; }

.small li a {
    font-size: 0.7em;
}

p.footer {
    margin: 7em auto 1em auto;
    text-align: center;
    font-size: 0.7em;
}

.pagination {
    .gap {
        line-height: 30px;
        min-width: 30px;
    }
}

.pagination-pager {
    width: 100%;
    margin: 0px auto;
    text-align: center;
    li.first { float: left; }
    li.prev { float: left; }
    li.next { float: right; }
    li.last { float: right; }
}

#search {
    color: white;
}

#search:focus:not(.browser-default) {
    color: $primary-color;
}

#close {
    color: grey;
}

.filter li a {
    font-size: 0.8rem;
}

table.token {
    a.info     { font-size: 0.8em; }
    a.kanji    { font-size: 2.2em; }
    a.hiragana { font-size: 1.8em; }
    a.katakana { font-size: 1.8em; }
    a.romaji   { font-size: 11px;  }
    
    td {
        padding-top: 0;
        padding-bottom: 0;
    }

    p.category,
    p.pos,
    th,
    td.info {
        @extend .grey-text;
    }

    p.category {
        font-size: 0.7em;
    }
    
    th,
    td {
        text-align: center;
    }
}

@media #{$small-and-down} {

table.token {
    a.info     { font-size: 0.8em; }
    a.kanji    { font-size: 3.4em; }
    a.hiragana { font-size: 2.2em; }
    a.katakana { font-size: 2.2em; }
    a.romaji   { font-size: 0.8em; }
    
    thead {
        display: none;
        background-color: red;
    }

    tbody tr:first-child {
        border-top: 1px solid rgba(0, 0, 0, 0.12);
    }

    tbody tr td {
        display: block;
        text-align: center;
    }

    tr::before, tr::after {
        content: "";
        display: block;
        height: 1em;
    }

    td.category,
    th.category,
    td.pos,
    th.pos {
        display: none;
    }
}

} // @media #{$small-and-down}

@media #{$medium-and-up} {

table.token {
    th.japanese    { min-width: 49%; }
    th.translation { min-width: 49%; }
}

} // @media #{$medium-and-up}

br.space {
    display: block;
    margin: 128px 0px;
}



table.letters {
    th, td {
        text-align: center;
        vertical-align: middle;
        width: 5%;
        font-size: 16pt;
    }
    th {
        font-weight: bold;
    }
    th,
    td:first-child,
    td:last-child,
    td:nth-child(2n+3) {
        background: rgba(242, 242, 242, 0.5);
    }
}

// ----------------------------------------------------------------------------

path {
    fill: #000;
}

path.stroke {
    fill: none;
    fill-opacity: 0.75;
    fill-rule: evenodd;
    stroke: #aaa;
    stroke-width: 1px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-opacity: 1;
    marker-end: url("#Arrow1Mend");
}

path.arrow {
    font-size: 1em;
    fill-rule: evenodd;
    fill: #aaa;
    stroke: #aaa;
    stroke-width: 1px;
    stroke-linejoin: round;
    marker-start: none;
}

path.rule {
    fill: none;
    fill-opacity: 0.75;
    fill-rule: evenodd;
    stroke: #000;
    stroke-width: 0em;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-opacity: 0.1;
}

text.number {
    font-size: 0.5em;
    fill: #aaa;
}

defs marker {
    overflow: visible;
}

#gWI,
#gWE {
    display: none;
}

// ----------------------------------------------------------------------------

div.print {
    text-align: center;
    font-size: 10pt;
    line-height: 10pt;

    h1 {
        color: #31353D;
        font-size: 22pt;
        line-height: 28pt;
    }

    hr {
        border: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.12);
    }

    div.token {
        page-break-inside: avoid !important;
        max-width: 25%;
    }

    p {
        text-align: center;
        margin: 0px;
        padding: 0px;
    }

    .kanji    { font-size: 22pt; line-height: 26pt; }
    .hiragana { font-size: 16pt; line-height: 20pt; }
    .katakana { font-size: 16pt; line-height: 20pt; }
    .romaji   { font-size:  8pt; line-height: 10pt; }
    .german   { font-size: 10pt; line-height: 14pt; }
    .english  { font-size: 10pt; line-height: 14pt; }

    div.token {
        display: inline-block;
        padding: 0pt 12pt 16pt 12pt;
    }

    hr {
        display: none;
    }

    div.strokes-h {
        div.label-h {
            display: inline-block;
            width: 9%;
            text-align: center;
            text-transform: uppercase;
            font-size: 0.7em;
            font-weight: bold;
            //color: #31353D;
            @extend .grey-text;
        }
    }
} // print

@media screen {
    div.print {
        margin: 16px auto;
    }
}

@media print {
    p.footer {
        display: none;
    }
    .spacer {
        margin-top: 1.5cm;
        margin-bottom: 1.5cm;
        border: 1px solid red;
    }
    .page-break-before {
        page-break-before: always;
    }
    .page-break-after {
        page-break-after: always;
    }
}
