// Place all the styles related to the Tokens controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.token {
    margin: 1em auto;
    
    thead, td, td a, tr::before, tr::after {
        //white-space: nowrap;
        text-align: center;
        display: block;
    }

    tr::before, tr::after {
        content: "";
        height: 2em;
    }

    .kanji    a { color: #1e3156; }
    .hiragana a { color: #8A1818;}
    .katakana a { color: #31353D; }
    .romaji   a { color: #31353D; }
    .german   a { color: #31353D; }

    .kanji    { font-size: 2.2em; line-height: 1.0em; }
    .hiragana { font-size: 1.6em; line-height: 1.1em; }
    .katakana { font-size: 1.6em; line-height: 1.1em; }
    .romaji   { font-size: 0.7em; line-height: 1.0em; }
    .german   { font-size: 1.0em; line-height: 1.2em; }


    thead,
    thead:empty, td:empty {
        display: none;
    }
}

.btn {
    display: inline-block;
    margin: 0em auto;
    padding: 0.4em 0.7em;
}

a.btn, a.btn:link, a.btn:visited, a.btn:hover, a.btn:active {
    color: white;
    background-color: #8A1818;
}

.pagination {
    .first, .last,
    .prev, .next,
    .page {
        a {
            display: inline-block;
            margin: 0em auto;
            padding: 0.1em 0.6em;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            margin-bottom: 0.4em;
        }
        a, a:link, a:visited, a:hover, a:active {
            color: white;
            background-color: #8A1818;
        }
        a.filter, a.filter:link, a.filter:visited, a.filter:hover, a.filter:active {
            color: white;
            background-color: rgb(110, 110, 110);
            font-size: 0.7em;
        }
        a.active, a.active:link, a.active:visited, a.active:hover, a.active:active {
            color: white;
            background-color: rgb(54, 54, 54);
            font-size: 0.7em;
        }
    }
    
    margin-bottom: 0.5em;
}

form.search {
    label {
        display: inline-block;
        display: none;
    }
    input {
        display: inline-block;
        line-height: 2em;
        background-color: #e0ddbd;
        color: #252B2B;
        border: none;
        padding: 0.3em 0.8em;
        min-width: 20em;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        margin-bottom: 2em;
    }
    button {
        display: inline-block;
        display: none;
    }
    a.reset, a.reset:link, a.reset:visited, a.reset:hover, a.reset:active {
        display: inline-block;
        font-weight: bold;
        padding: 0.2em 0.2em 0.2em 0.2em;
    }
}